*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;;
}

.navbar {
    --margin: 40px;
    background-color: rgb(228 228 228 / 15%);
    position: sticky;
    top: 0;
    width: calc(100vw - 2 * var(--margin));
    z-index: 1000;
    border-radius: 80px;
    margin-left: var(--margin);
    margin-right: var(--margin);
    padding: 12px 24px;
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.navbar a{
    color: white; 
    text-decoration: none;
    transition: 0.5s;
}

.navbar a:hover{
    opacity: 1;
}

.navbar-toggler {
    border: none;
    outline: none;
    color: white;
}

.carousel-wrapper {
    position: relative;
}

.carousel-text {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
}

.carousel-text h1 {
    font-size: 5.5rem;
    font-weight: bold;
    white-space: nowrap;
}

.carousel-text p {
    font-size: 1.2rem;

}

.carouselslide{
    width: 100%; 
    height: 900px;
    overflow: hidden;
    position: relative;
    top: -66px !important;
}

.carouselslide img {
    filter: blur(6px);
    filter:brightness(0.3);
    -webkit-filter: blur(6px) brightness(0.3);
}

.cartoes{
    overflow-x: hidden;
}

.btn-outline {
    border-color: #f74200;
    color: white;
}

.btn-outline:hover {
    background-color: #f74200;
    border-color: #f74200;
}
.cartoes h1{
    color: white;
    margin-left: 80px;
    font-size: 80px;
}

.cartoes h4{
    color: white;
    margin-left: 70px;
    padding-bottom: 10px;
    font-size: 20px;
}

.card {
    background-color: #000000;
    border-color: white;
    color: white;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card img{
    transition: 0.2s ease-in;
}

.card img:hover{
    transform: scale(1.1);
}

.card-body {
    z-index: 1;
    background-color: #000000;
}

.aboutme {
    color: white;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.aboutme h1 { 
    margin-left: 80px;
    font-size: 70px;
    padding-top: 100px;
}

.aboutme p {
    margin-left: 70px;
    padding-bottom: 10px;
    font-size: 20px;
}

.aboutme img {
        position: absolute;
        right: -150px;
        bottom: 0;
        width: 62%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
}

.legenda p{
    position: absolute;
    bottom: -20px;
    left: 330px; 
    color: white;
    font-size: 15px;
}

.form{
    margin-top: 10px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerform{
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

.containerform h1{
    font-size: 70px;
    text-align: center;
    margin-bottom: 17px;
    color: #ffffff;
}

.containerform p{
    font-size: 20px;
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

.containerform form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    background-color: transparent;
    border: 2px solid white;
    padding: 32px;
    border-radius: 16px;
    width: 700px;
    height: 400px;
    box-sizing: border-box;
    color: white;
}

.formgroup{
    
    &.full {
        grid-column: 1 / -1;
    }
    label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    }
}

.formelement {
    appearance: none;
    outline: none;
    border: none;
    display: block;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: #F3F3F3;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.textarea {
    resize: none;
    width: 100%;
    height: 100px;
    padding: 8px 12px;
    border-radius: 8px;
    box-sizing: border-box;
}

.submitgroup{
    grid-column: 1 / -1;
    text-align: right;
    input[type="submit"]{
        appearance: none;
        border: none;
        outline: none;
        background: none;
        padding: 12px 16px;
        background-color: #f74200;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        transition: 0.4s;
        &:hover{
            background-color: #943716;
        }
    }
}

footer{
    background-color: rgb(16, 16, 16);
}

.footerContainer{
    width: 100%;
    padding: 5px 30px 5px;
}

.iconesredes{
    display: flex;
    justify-content: center;
}

.iconesredes a{
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    color:white;
    font-size: 1.5em;
    opacity: 0.7;
    transition: 0.5s;
}

.iconesredes a:hover{
    opacity: 1;
}

.links{
    margin: 5px 0px 30px;

    & ul {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.links ul{
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style-type: none
}

.links ul li a{
    color: white;
   
    text-decoration: none;
    font-size: 1.2em;
    opacity: 0.7;
    transition: 0.5s;
}

.links ul li a:hover{
    opacity: 1;
}

.footerBottom {
    background-color: rgb(16, 16, 16);
    padding: 15px 0px 10px;
    text-align: center;
    color: white;
    opacity: 0.7;
}

@media (max-width: 800px){

    .navbar{
        border-radius: 20px;
    }
    
    .iconesnav .nav-item {
        padding-right: 10px;
    }

    .footerBottom ul{
        flex-direction: column;
    }
    .footerBottom ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .carousel-text h1 {
        font-size: 3.0rem;
    }
    .carousel-text p {
        font-size: 1rem;
    }
    .cartoes h1{
        margin-left: 80px;
        font-size: 70px;
    }
    .cartoes h4{
        margin-left: 70px;
        padding-bottom: 10px;
        font-size: 15px;
    }
    
    .containerform form {
        width: 100%;
        height: auto;
        padding: 16px;
    }

    .containerform h1 {
        font-size: 40px;
    }

    .containerform p {
        font-size: 16px;
    }

    .formelement,
    .textarea {
        padding: 8px 12px;
    }

    .submitgroup input[type="submit"] {
        padding: 10px 16px;
    }

    .aboutme h1 {
        margin-left: 20px;
        font-size: 40px;
        padding-top: 50px;
    }

    .aboutme p {
        margin-left: 20px;
        font-size: 18px;
    }

    .aboutme img {
        position: relative;
        right: 0;
        width: 100%;
        bottom: 0;
        height: auto;
    }

    .legenda p {
        position: relative;
        left: 0;
        font-size: 12px;
        bottom: 670px;
    }

    .cartoes h1 {
        margin-left: 20px;
        font-size: 50px;
    }

    .cartoes h4 {
        margin-left: 20px;
        font-size: 18px;
    }

    .card {
        margin-left: 10px;
        margin-right: 10px;
    }

    .card img {
        width: 100%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    .btn-outline {
        font-size: 14px;
    }

    .carousel-text h1 {
        font-size: 2.4rem;
    }

    .carousel-text p {
        font-size: 0.9rem;
    }

    .carouselslide {
        height: 500px;
        top: 0;
    }

    .carouselslide img {
        object-fit: cover;
        height: 100%;
    }

}

@media (max-width: 576px) {
    .carousel-text h1 {
        font-size: 2.0rem;
    }
    .aboutme h1 {
        font-size: 30px;
    }

    .aboutme p {
        font-size: 16px;
    }

    .aboutme img {
        width: 100%;
    }

    .legenda p {
        font-size: 10px;
        bottom: 620px;
    }
}

@media (max-width: 667px) {
    .carousel-text h1 {
        font-size: 1.7rem;
    }

    .legenda p {
        bottom: 700 px;
    }
}

@media (max-width: 900px) {
    .legenda p {
        bottom: 500px;
    }
}

@media (max-width: 800px) {
    .legenda p {
        bottom: 670px;
    }
}